Babel==1.3
Chameleon==2.16
Fabric==1.9.1
Jinja2==2.9.6
Mako==1.0.0
MarkupSafe==1.0
PasteDeploy==1.5.2
Pygments==1.6
SQLAlchemy==0.9.7
Unidecode==0.04.16
WebOb==1.7.2
WebTest==2.0.15
alembic==0.6.6
beautifulsoup4==4.3.2
certifi==14.05.14
colander==1.3.3
coverage==3.7.1
deform==2.0a2
ecdsa==0.11
flake8==2.2.3
hashids==1.0.1
httmock==1.2.2
ipdb==0.8
ipython==2.3.0
lingua==3.2
mccabe==0.2.1
nose==1.3.4
oauthlib==0.6.3
paramiko==1.14.1
passlib==1.6.2
pep8==1.5.7
peppercorn==0.4
polib==1.0.5
psycopg2==2.5.4
pycrypto==2.6.1

# py-enketo
-e git+git@github.com:onaio/py-enketo.git@0.1a0#egg=pyenketo
pyflakes==0.8.1
pyramid==1.8.3
pyramid-debugtoolbar==2.2
pyramid-exclog==0.7
pyramid-jinja2==2.3.3
pyramid-mako==1.0.2
pyramid-tm==0.7
python-slugify==0.0.9
pytz==2014.7
repoze.lru==0.6
requests==2.4.0
requests-oauthlib==0.4.1
six==1.7.3
transaction==1.4.3
translationstring==1.1
uWSGI==2.0.15
venusian==1.0
waitress==0.8.9
wsgiref==0.1.2
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.5
mock==1.0.1
