<div id="sample_1_wrapper" class="dataTables_wrapper form-inline"
     role="grid">
  <div class="table-toolbar">
      <div class="btn-group">
          <a id="sample_editable_1_new" class="btn btn-primary" href="{{ request.route_url('clinics',  traverse=('register')) }}">
              {{ gettext('Register a Clinic') }} <i class="icon-plus"></i>
          </a>
      </div>
  </div>
  <div class="">
    <table class="table table-striped table-bordered table-hover" id="sample_1">
      <thead>
        <tr role="row">
          <th>
            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes">
          </th>
          <th>{{ gettext('Name') }}</th>
          <th>{{ gettext('Clinic Code') }}</th>
          <th>{{ gettext('Created') }}</th>
          <th>{{gettext('Actions')}}</th>
        </tr>
      </thead>

      <tbody role="alert" aria-live="polite" aria-relevant="all">
      {% for clinic in clinics %}
        <tr class="gradeX odd">
          <td>
            <input type="checkbox" name="clinic_id" class="checkboxes" value="{{ clinic.id }}">
          </td>
          <td>
            {% if clinic.is_assigned %}
              <a href="{{ request.route_url('users', traverse=(clinic.user.id, 'select-period'), _query={'came_from': request.route_path('clinics', traverse=(clinic.id, '{period_id}'))}) }}">{{ clinic.name }}</a>
            {% else %}
              {{ clinic.name }}
            {% endif %}
          </td>
          <td class=" ">{{ clinic.code }}</td>
          <td class="center ">{{ clinic.date_created.strftime('%d %b %Y') }}</td>
          <td class=" ">
            <a href="{{request.route_url('clinics', traverse=(clinic.id, 'edit_clinic'))}}" class="btn btn-default">
              {{gettext('Edit')}}
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
   {%if clinics|length == 0 %}
    {{search_term}} {{ gettext('Not found.') }}
  {% endif%}
  </div>
</div>