<div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
    <div class="row">
      <div class="score-summary-table1 col-md-7">
        <table
            class="table table-striped table-bordered table-hover"
            id="score_summary" aria-describedby="sample_1_info">
          <thead>
          <tr role="row" class="score_summary_header_1">
                <th colspan=2> Characteristics</th>
          </tr>
          <tr role="row" class="score_summary_header_2">
            <th class="sorting ssdata" role="columnheader" tabindex="0"
                aria-controls="sample_1" rowspan="1" colspan="1"
                aria-label="No."
                style="width: 30px;">
                No.
            </th>

            <th class="sorting_disabled ssdata" role="columnheader" rowspan="1"
                colspan="1" aria-label="Description" style="width: 46px;">
                Description
            </th>


          </tr>
          </thead>

          <tbody role="alert" aria-live="polite" aria-relevant="all">
          {% for characteristic in characteristics %}
            <tr class="gradeX odd ssdata">
              <td class="">
                  {{loop.index }}
              </td>
              </td>
              <td class=" " style=""><div style="width:600px;">{{ characteristic.description }}</div></td>

            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class=" col-md-4 score-summary-table2">
        <table
            class="table table-striped table-bordered table-hover"
            id="score_5summary" aria-describedby="sample_1_info">
           {% for clinic in clinics %}
                <col width="60px" />
            {% endfor %}
          <thead>
          <tr role="row" class="score_summary_header_1">
                <th colspan={{ clinics|length }}> Scores</th>
          </tr>
          <tr role="row" class="score_summary_header_2">
            {% for clinic in clinics %}
                <th class="sorting_disabled ssdata" role="columnheader" rowspan="1"
                colspan="1" aria-label="Clinic Name" style="width:40px;, height:37px;">
                {{ clinic.name }}
                </th>
            {% endfor %}

          </tr>
          </thead>

          <tbody role="alert" aria-live="polite" aria-relevant="all">
          {% for characteristic in characteristics %}
            <tr class="gradeX odd ssdata">
               {% for clinic in clinics %}
                <td class="center">
                  {% if clinic_scores[clinic.id][characteristic.id]['total_percentage'] %}
                        {{clinic_scores[clinic.id][characteristic.id]['total_percentage'] }} %
                   {% else %}
                        0 %
                    {% endif%}
                </td>
               {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>