<div class="table-toolbar">
    <div class="btn-group">
        <a class="btn btn-primary" href="{{ request.route_url('clinics',  traverse=('register')) }}">
            {{ gettext('Register a Clinic') }} <i class="icon-plus"></i>
        </a>
    </div>
</div>
<section class="content clinics">
  <div class="row">
    <div class="portlet">
      <div class="portlet-body">
        <table class="table table-responsive table-hover clinics-table">
      <thead>
        <tr role="row">
          <th>{{ gettext('Name') }}</th>
          <th>{{ gettext('Clinic Code') }}</th>
          <th>{{ gettext('Created') }}</th>
          <th>{{gettext('Actions')}}</th>
        </tr>
      </thead>

      <tbody role="alert" aria-live="polite" aria-relevant="all">
      {% for clinic in clinics %}
        <tr class="gradeX odd">
          <td>
              <a href="{{ request.route_url('clinics', traverse=(clinic.id, period.id)) }}">{{ clinic.name }}</a>
          </td>
          <td class=" ">{{ clinic.code }}</td>
          <td class="center ">{{ clinic.date_created.strftime('%d %b %Y') }}</td>
          <td class=" ">
            <a href="{{request.route_url('clinics', traverse=(clinic.id, 'edit_clinic'))}}" class="btn btn-default btn-xs">
              {{gettext('Edit')}}
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
      </div>
    </div>
  </div>
</section>
<div>
 {%if clinics|length == 0 %}
  {{search_term}} {{ gettext('Not found.') }}
{% endif%}
</div>
