{% from 'macros/score_class.jinja2' import score_class %}
<div id="sample_1_wrapper" class="" role="grid">
    <div class="row">
      <div class="score-summary-table1">
        <table
            class="table characteristics table-hover"
            id="score_summary" aria-describedby="sample_1_info">
          <thead>
          <tr role="row" class="score_summary_header_1">
                <th colspan=2> Characteristics</th>
                <th colspan={{ clinics|length }}> Scores</th>
          </tr>
          <tr role="row" class="score_summary_header_2">
            <th class="sorting ssdat" role="columnheader" tabindex="0"
                aria-controls="sample_1" rowspan="1" colspan="1"
                aria-label="No."
                style="width: 30px;">
                No.
            </th>
            <th class="sorting_disabled ssdat" role="columneader" rowspan="1"
                colspan="1" aria-label="Description" style="width: 46px;">
                Description
            </th>
             {% for clinic in clinics %}
                <th class="sorting_disabled ssdat" role="columnheader" rowspan="1"
                colspan="1" aria-label="Clinic Name">
                <div style="width:84px">
                    {{ clinic.name }}
                </div>
                </th>
            {% endfor %}
          </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all">
          {% for characteristic in characteristics %}
            <tr class="gradeX odd ssdata">
              <td class="">
                  {{loop.index }}
              </td>
              </td>
              <td class=" " style=""><div style="width:430px;">{{ characteristic.description }}</div></td>
              {% for clinic in clinics %}
                <td>
                    <div style="width:90px">
                    {{score_class(clinic_scores[clinic.id][characteristic.id]['total_percentage'], score_limits)}}
                    </div>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>