{% from 'macros/score_class.jinja2' import score_class %}
<div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
    <div class="row">
      <div class="score-summary-table1 col-md-5">
        <table
            class="table characteristics table-hover"
            id="score_summary" aria-describedby="sample_1_info">
          <thead>
          <tr role="row" class="score_summary_header_1">
                <th colspan=2> {% trans %}Characteristics{% endtrans %}</th>
          </tr>
          <tr role="row" class="score_summary_header_2">
            <th class="sorting ssdata" role="columnheader" tabindex="0"
                aria-controls="sample_1" rowspan="1" colspan="1"
                aria-label="No."
                style="width: 30px;">
                {% trans %}No. {% endtrans %}
            </th>
            <th class="sorting_disabled ssdata" role="columneader" rowspan="1"
                colspan="1" aria-label="Description" style="width: 46px;">
                {% trans %}Description {% endtrans %}
            </th>
          </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all">
          {% for characteristic in characteristics %}
            <tr class="gradeX odd ssdata">
              <td class="">
                  {{loop.index }}
              </td>
              </td>
              <td class=" " style=""><div style="width:420px;">{{ characteristic.description }}</div></td>

            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class=" col-md-4 score-summary-table2">
        <table
            class="table score_indicators table-hover"
            id="score_indicators" aria-describedby="sample_1_info">
           {% for clinic in clinics %}
                <col width="86px" />
            {% endfor %}
          <thead>
          <tr role="row" class="score_summary_header_1">
                <th colspan={{ clinics|length }}> Scores</th>
          </tr>
          <tr role="row" class="score_summary_header_2">
            {% for clinic in clinics %}
                <th class="sorting_disabled ssdata" role="columnheader" rowspan="1"
                colspan="1" aria-label="Clinic Name">
                <div style="width:70px">
                    {{ clinic.name }}
                </div>
                </th>
            {% endfor %}
          </tr>
          </thead>
          <tbody role="alert" aria-live="polite" aria-relevant="all">
          {% for characteristic in characteristics %}
            <tr class="gradeX odd ssdata">
               {% for clinic in clinics %}
                    <td>
                          {{score_class(clinic_scores[clinic.id][characteristic.id]['total_percentage'], score_limits)}}
                    </td>
               {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>