<div id="sample_1_wrapper" class="dataTables_wrapper form-inline"
     role="grid">
  <div class="">
    <div class="row">
      <div class="pull-left table-header">{{ gettext('Clinic Scores by Key Indicator') }}</div>
    </div>
    <table class="table scores-table scores-table-horizontal" id="sample_1">
      <thead>
        <tr role="row">
          <th class="clinic-name">{{ gettext('Name') }}</th>
          {% for id, label in key_indicators_key_labels %}
            <th class="key-indicators">{{ gettext(label) }}</th> 
          {% endfor %}
        </tr>
      </thead>

      <tbody role="alert" aria-live="polite" aria-relevant="all">
      {% for location in locations %}
        <tr class="gradeX odd">
          <td>
            <a href="{{ location.get_url(request, period) }}">
              <strong>{{ location.name }}</strong>
            </a>
            {% if location.__class__.__name__ == "Clinic" %}
              <div>
                {{ "CNES: " + location.code }}
              </div>
            {% endif %}
          </td>
          {% for id, label in key_indicators_key_labels %}
          {% set key_indicators = location.key_indicators(period) %}
            <td>
                <div class="score-bar">
                    <div class="elapsed" style="width: {{ key_indicators[id]|round }}%"></div>
                    <span class="score-msg">{{ key_indicators[id]|round|int}}</span>
                </div>
            </td> 
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
   {%if locations|length == 0 %}
    {{search_term}} {{ gettext('Not found.') }}
  {% endif%}
  </div>
</div>