<div id="sample_1_wrapper" class="dataTables_wrapper form-inline"
     role="grid">
  <div class="">
    <div class="row">
      <div class="pull-left table-header">{{ gettext('Clinic Scores by Key Indicator') }}</div>
    </div>
    <table class="table scores-table scores-table-horizontal" id="sample_1">
      <thead>
        <tr role="row">
          <th class="clinic-name">{{ gettext('Name') }}</th>
          {% for id, label in indicator_labels.iteritems() %}
            <th class="key-indicators">{{ gettext(label) }}</th> 
          {% endfor %}
        </tr>
      </thead>

      <tbody role="alert" aria-live="polite" aria-relevant="all">
      {% for clinic in clinics %}
        <tr class="gradeX odd">
          <td>
            {% if clinic.is_assigned %}
              <a href="{{ request.route_url('clinics', traverse=(clinic.id, period.id)) }}">
                <strong>{{ clinic.name }}</strong>
              </a>
              <div>
                {{ "CNES: " + clinic.code }}
              </div>
            {% else %}
              {{ clinic.name }}
              <div>
                {{ clinic.code }}
              </div>
            {% endif %}
          </td>
          {% for id, label in indicator_labels.iteritems() %}
          {% set key_indicators = clinic.key_indicators(period) %}
            <td>
                <div class="score-bar">
                    <div class="elapsed" style="width: {{ key_indicators[id]|round }}%"></div>
                    <span class="score-msg">{{ key_indicators[id]|round|int}}</span>
                </div>
            </td> 
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
   {%if clinics|length == 0 %}
    {{search_term}} {{ gettext('Not found.') }}
  {% endif%}
  </div>
</div>