{% extends 'base.jinja2' %}
{% block title %}Edit User{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block breadcrumbs %}
    <li>
      <a href="{{ request.route_url('admin', traverse=()) }}"><iclass="fa fa-desktop"></i> {{gettext('Users')}}</a>
    </li>
      <i class="icon-angle-right"></i>
      <li class="active">{{ gettext('Edit User')}}</li>
{% endblock %}
{% block content %}

<!-- Main content -->
<section class="content">
  {% include '_alerts.jinja2' %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet">
        <div class="portlet-body table-responsive no-padding">
          <form class="form-horizontal" data-role="form" method="post">
              <div class="portlet-body">
                <div class="form-group">
                  <label for="username" class="col-sm-2 control-label">{{ gettext('Username') }}</label>
                  <div class="col-sm-2">
                    <p class="form-control-static">{{ gettext(ona_user) }}</p>
                  </div>
                  {% if has_error %}
                    {% for msg in field.error.messages() %}
                <span class="help-block">{{ msg }}</span>
                    {% endfor %}
                {% endif %}
                </div>
                {% for field in form %}
                {% set has_error = not not field.error %}
                <div class="form-group {% if has_error %}has-error{% endif %}">
                  <label for="inputEmail3" class="col-sm-2 control-label">{{ gettext(field.title) }}</label>

                  <div class="col-sm-6">
                    {{ field.serialize()|safe }}
                  </div>
                  {% if has_error %}
                    {% for msg in field.error.messages() %}
                <span class="help-block">{{ msg }}</span>
                    {% endfor %}
                {% endif %}
                </div>
                {% endfor %}
              </div>
              <!-- /.box-body -->
              <div class="portlet-footer">
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
                    <a class="btn btn-default" href="{{ request.route_url('admin', traverse=()) }}">{{ gettext('Back') }}</a>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block page_scripts %}
  <script src="{{ request.static_url('whoahqa:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  $('select[name!=group]').closest('div.form-group').hide();
  Custom.userFormValidation();

  /* Show clinic select since it is the default selected option */
  $('select[name=group]').trigger('change');
{% endblock %}
