{% extends 'base.jinja2' %}
{% block title %}
{% if clinic.id is none%}
  {{ gettext('New Clinic') }}
{% else %}
  {{ gettext('Edit Clinic') }}
{% endif %}
{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block breadcrumbs %}
    <li><i class="icon-angle-right"></i></li>
    <li class="active">
    <a href="{{ request.route_url('clinics', traverse=('manage')) }}">
      {{ gettext("Manage Clinics")}}
    </a>
    </li>
    <li><i class="icon-angle-right"></i></li>
    <li>
    {% if clinic.id is none%}
      {{ gettext('New Clinic') }}
    {% else %}
      {{ gettext('Edit Clinic') }}
    {% endif %}
    </li>
{% endblock %}
{% block content %}
<!-- Delete confirmation modal -->
<div class="modal fade" id="delete-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">{{ gettext('Confirm Delete')}}</h4>
        </div>
        <div class="modal-body">
          {{ gettext('You are about to delete')}}
          <strong>
          {{ clinic.name }}
          </strong>. {{ gettext('This procedure is irreversible')}}.
            <br/>
          {{ gettext('Do you wish to proceed?')}}
        </div>
        <div class="modal-footer">
          <a href="{{ request.route_url('clinics', traverse=(clinic.id, 'delete')) }}" class="btn btn-danger">{{ gettext('Delete') }}</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext('Close')}}</button>
        </div>
        <!-- /.modal-content -->
      </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- End Delete confirmation modal -->
<!-- Main content -->
<section class="content">
  {% include '_alerts.jinja2' %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet">
        <div class="portlet-body table-responsive no-padding">
          <form class="form-horizontal" data-role="form" method="post">
              <div class="portlet-body">
                <div class="form-group">
                  {% if has_error %}
                    {% for msg in field.error.messages() %}
                      <span class="help-block">{{ msg }}</span>
                    {% endfor %}
                {% endif %}
                </div>
                {% for field in form %}
                  {% set has_error = field.error %}
                  <div class="form-group {% if has_error %}has-error{% endif %}">
                      <label class="col-sm-2 control-label">{{ gettext(field.title) }}</label>
                      <div class="col-sm-2">
                          {{ field.serialize()|safe }}
                      </div>
                      {% if has_error %}
                        {% for msg in field.error.messages() %}
                          <span class="help-block">{{ msg }}</span>
                        {% endfor %}
                      {% endif %}
                  </div>
                {% endfor %}
              </div>
              <div class="portlet-footer">
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ gettext('Save')}}</button>
                    {% if clinic.id %}
                      <button class="btn btn-danger" data-toggle="modal" data-target="#delete-confirm">{{ gettext('Delete')}}</button>
                    {% endif %}
                    <a class="btn btn-default" href="{{ request.route_url('clinics', traverse=('manage')) }}">{{ gettext('Cancel')}}</a>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
