{% for clinic in clinics %}
{% set responses_per_tool = clinic.get_num_responses_per_tool(period.generate_form_key()) %}
    <div class="portlet" id="assessment-portlet">
        <div class="portlet-title">
            <div class="tools">
                <a class="collapse"> </a>
            </div>
            <a href="{{ request.route_url('clinics', traverse=(clinic.id, period.id)) }}">
                <strong>{{ clinic.name }}</strong>
            </a>
            <div>
                {{ "CNES: " + clinic.code }}
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-6">{{ gettext('Stakeholder') }}</th>
                            <th class="col-md-4">{{ gettext('Surveys done')}}</th>
                            <th class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client_tool in client_tools %}
                            <tr>
                                <td>
                                    {{ gettext(client_tool.name) }}
                                </td>
                                <td>
                                    {{responses_per_tool[client_tool.id].responses}}
                                    of
                                    {{responses_per_tool[client_tool.id].sample_frame}}
                                    &nbsp;
                                    {% if responses_per_tool[client_tool.id].responses == responses_per_tool[client_tool.id].sample_frame %}
                                        <span class="label label-primary"> {{ gettext('Complete') }}</span>
                                    {% elif responses_per_tool[client_tool.id].responses == 0 %}
                                        <span class="label label-warning"> {{ gettext('Not Started') }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ request.route_url('clinics', traverse=('show_form'), _query=(('form', client_tool.id),)) }}">
                                        <i class="pull-left icon-blue icon-plus-sign launch-form"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="bold">{{ gettext('Total')}}</td>
                            <td class="bold">
                                {{responses_per_tool.values()|sum(attribute='responses')}}
                                of
                                {{responses_per_tool.values()|sum(attribute='sample_frame')}}
                                </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endfor %}