{% extends 'base.jinja2' %}
{% from 'macros/score_class.jinja2' import score_class %}
{% from 'macros/value_or_dash.jinja2' import value_or_dash %}
{% from 'macros/client_rows.jinja2' import generate_client_rows %}
{% block title %}{{ clinic.name }} {% endblock %}
{% block page_title %}{{ self.title() }} <span class="bold">({{ clinic.code }})</span> {% endblock %}

{% set municipality = clinic.municipality %}
{% set clinic_key_indicators = clinic.key_indicators(period) %}
{% set state = municipality.parent if municipality else None %}

{% block sub_menu_item %}
  {% if not request.can_view_municipality and not request.can_view_state and not request.is_super_user and not request.can_list_state %}
  <li class="">
  <a href="{{request.route_url('clinics', traverse=())}}">
  {{ gettext('Scores') }}</a>
  </li>
  {% endif %}
    {% if request.can_view_municipality or request.can_list_state %}
      <li class="selected">
      <input type="checkbox" name ="group-1" id="chkbx" style="top: -1px;
    left: -3px;">
        <a href="{{municipality.get_url(request, period)}}">
            {{ municipality.name|format_location_name }}
            {{ gettext(municipality.location_type|capitalize) }}
        </a>
        <span class="icon-plus-sign locations-list" id="menu-icon" style="margin: 7px -23px 4px 2px;"></span>
      <ul class="sub-location temp" id="municipality-list" style="list-style: none; padding: 0px !important;">
      {% for child in municipality.clinics %}
      <li style="margin: 0 auto; padding: 5px; margin-top: 1px !important; position: relative;" class="
          {%if child.id == clinic.id%}
            active
          {% endif %}">
            <a href="{{child.get_url(request, period)}}" style="color: #def1fd; margin-left: 25px; font-weight: 300; font-size: 14px; display: block; white-space: initial; width: 80%;">
              {{ child.name|format_location_name }}
          </a>
      </li>
      {% endfor %}
      </ul>
      </li>
    {% else %}
      {% for child in request.user.clinics %}
        <li class="
          {%if child.id == clinic.id%}
            active
          {% endif %} ">
          <a href="{{child.get_url(request, period)}}">
              {{ child.name|format_location_name }}
          </a>
        </li>
      {% endfor %}
    {% endif %}
  {% endblock %}

{% block breadcrumbs %}
  {% if request.can_list_state %}
  <li><a href="{{request.route_url('states', traverse=())}}">{{ gettext('States') }}</a></li>
  <li><a href="#"> </a>
  <i class="icon-angle-right"></i>
  </li>
  {% endif %}
  {% if state is not none %}
    <li>
      {% if request.can_view_state or request.can_list_state %}
        <a href="{{ state.get_url(request, period)}}">
          {{ state.name|format_location_name }}
          {{ gettext(state.location_type|capitalize) }}
        </a>
        <i class="icon-angle-right"></i>
      {% endif %}
    </li>
  {% endif %}
  {% if municipality is not none %}
    <li>
      {% if request.can_view_municipality or request.can_list_state %}
        <a href="{{ municipality.get_url(request, period)}}">
          {{ municipality.name|format_location_name }}
          {{ gettext(municipality.location_type|capitalize) }}
        </a>
        <i class="icon-angle-right"></i>
      {% endif %}
    </li>
  {% endif %}
  {% if not request.can_view_municipality and not request.can_view_state and not request.is_super_user and not request.can_list_state %}
  <li>
  <i class="icon-home"></i>
  <a href="{{request.route_url('clinics', traverse=())}}">{{ gettext('Scores') }}</a>
  </li>
  <li><a href="#"> </a></li>
  <li>
    <i class="icon-angle-right"></i>
  </li>
  {% endif %}
  <li>
  {% if request.is_super_user and state is not none %}
    <i class="icon-angle-right"></i>
    <a href="{{ state.get_url(request, period)}}">
          {{ state.name|format_location_name }}
          {{ gettext(state.location_type|capitalize) }}
        </a>
  {% endif %}
  {% if request.is_super_user and municipality is not none %}
    <i class="icon-angle-right"></i>
    <a href="{{ municipality.get_url(request, period)}}">
          {{ municipality.name|format_location_name }}
          {{ gettext(municipality.location_type|capitalize) }}
        </a>
    <i class="icon-angle-right"></i>
  {% endif %}
  {{ clinic.name }}
  </li>
{% endblock %}
{% block period_selector %}
  {% if periods %}
    <div class="row date-range-dropdown">
      <div class="dashboard-date-range btn-group pull-left">
       <div id="dashboard-report-range" class="tooltips btn btn-fit-height btn-primary dropdown-toggle" data-container="body" data-placement="top" data-original-title="{{gettext('Change dashboard date range')}}" data-toggle="dropdown" aria-expanded="false">
          <i class="icon-calendar"></i>&nbsp;
             {% set active_period = selected_period or period%}
             <span class="thin uppercase visible-lg-inline-block">
                 {{ gettext(active_period.title) }}
             </span>&nbsp;
             <i class="icon-angle-down"></i>
       </div>
       <ul class="dropdown-menu" role="menu">
          {% for p in periods if p != period %}
             <li>
             <a href="{{ request.current_route_url(traverse=(clinic.id, p.id)) }}">
               {{ gettext(p.title) }}
             </a>
             </li>
          {% endfor %}
       </ul>
    </div>
    <div class="pull-left print-row">
    <button onclick="window.print();return false;" class="btn btn-default">
      <i class="icon-print"></i>
      {{ gettext('Print') }}
    </button>
  </div>
</div>
  {% endif %}
{% endblock %}
{% block content %}
<div class="table-responsive for-print">
    <table class="borderless">
      <tbody>
        <tr>
          <td>{{ gettext('Clinic')}}:</td>
          <td>{{ self.title() }}</td>
        </tr>
        <tr>
          <td>{{ gettext('CNES number')}}: </td>
          <td>{{ clinic.code }}</td>
        </tr>
        <tr>
          <td>{{ gettext('Reporting period')}}: </td>
          {% if periods %}
            {% set active_period = selected_period or period %}
            <td>{{ gettext(active_period.title)}} </td>
          {% endif %}
        </tr>
        <tr>
          <td>{{ gettext('Date printed')}}: </td>
          <td id="date"></td>
        </tr>
      </tbody>
    </table>
</div>
<hr/>
<br/>
{% for key_indicator, char_list in key_indicators %}
  <div class="table-responsive scores-table-responsive" style="margin-top: -25px;">
    <div class="row key-indicator-section">
      <h3 class="key-indicator-title">
        {{ gettext(key_indicator|capitalize)}}:
        {{ 0 or clinic_key_indicators[key_indicator]|round|int }}%
      </h3>
    </div>
      <table class="table table-bordered scores-table">
        <thead>
          <tr style="height: auto;">
              <td colspan="2" class="char-header">{{ gettext('Characteristics') }}</td>
              <td colspan="1" class="transparent-cell"></td>
              <td colspan="1" class="transparent-cell"></td>
              <td colspan="1" class="transparent-cell"></td>
              <td colspan="1" class="transparent-cell"></td>
              <td colspan="1" class="char-header">{{ gettext('Relative Score') }}</td>
        </tr>
        </thead>
        {% for characteristic in characteristics if characteristic.id in char_list %}
            {% set total_responses = scores[characteristic.id].totals.total_responses %}
            {% set total_pending_responses = scores[characteristic.id].totals.total_pending_responses %}
            {% set total_scores = scores[characteristic.id].totals.total_scores %}
            {% set score_classification = scores[characteristic.id].totals.score_classification %}
            {% set percentage = scores[characteristic.id].totals.total_percentage %}
            {% set meets_threshold = scores[characteristic.id].totals.meets_threshold %}
            <thead>
              <tr>
                <th class="char-no center-align">{{ gettext('No.') }}</th>
                <th class="char-desc">{{ gettext('Description ') }}</th>
                <th class="char-cat">{{ gettext('Category') }}</th>
                <th class="min-max"><div>{{ gettext('Min - Max') }}</div></th>
                <th class="char-resp">{{ gettext('# Respondents') }}</th>
                <th class="char-score">{{ gettext('Score') }}</th>
                <th class="char-rel-score">
                  <span class="for-print">{{ gettext('Relative Score') }}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center-align char-no-vals">
                  {{ characteristic.number }}
                </td>
                <td class="">
                  <p>{{ gettext(characteristic.description) }}</p>
                </td>
                <td class="client-tool-table">
                  <table class="table table-striped">
                    {{ generate_client_rows(scores, client_tools, characteristic.id, client_property='name', characteristic_id=characteristic.id)}}
                    <tr>
                      <td class="text-right bold">
                        {{ gettext("Absolute total score") }}
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="client-tool-table">
                  <table class="table table-striped">
                    {{ generate_client_rows(scores, client_tools, characteristic.id, score_property='num_questions', output_prefix='0 - ', characteristic_id=characteristic.id) }}
                    <tr>
                      <td class="text-center bold">
                        0 - {{ scores[characteristic.id].totals.total_questions }}
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="client-tool-table">
                  <table class="table table-striped respondents">
                  {% for client_tool in client_tools %}
                    {% set score = scores[characteristic.id] %}
                    {% if score[client_tool.id] is defined %}
                        <tr>
                            <td>
                              {% set responses = score[client_tool.id]['num_responses']|int(0) %}
                              {% set pending_responses = score[client_tool.id]['num_pending_responses'] %}
                              {% set required_responses = responses + pending_responses %}
                              <div class="print-scores">
                                {{ responses }}
                                {{ gettext('of') }}
                                {% if pending_responses <=0 %}
                                {{ responses }}
                                {% else %}
                                {{ responses + pending_responses }}
                                {% endif %}
                                {% if pending_responses <= 0 %}
                                <i class="icon-orange icon-ok"></i>
                                {% elif responses == 0 or pending_responses > responses %}
                                <i class="icon-orange icon-warning-sign"></i>
                                {% else %}
                                <i class="icon-orange icon-ok invisible"></i>
                                {% endif %}
                              </div>
                              <div class="respondents-row">
                              {% if responses <= required_responses %}
                                {% for response in range(responses) %}
                                    <i class="icon-blue icon-circle">
                                    </i>
                                {% endfor %}
                              {% elif responses > required_responses %}
                                {% for response in range(required_responses) %}
                                  <i class="icon-blue icon-circle">
                                    </i>
                                {% endfor %}
                                <i class="icon-blue icon-plus tooltips hidden-print" data-placement='top' data-original-title="{{gettext('Total No. of Responses :')}} {{ responses }}">
                                    </i>
                              {% endif %}
                              {% for response in range(pending_responses) %}
                                <i class="icon-grey icon-circle"></i>
                              {% endfor %}
                              {% if pending_responses <= 0 %}
                                <i class="icon-blue icon-ok pull-right tooltips hidden-print" data-placement='top' data-original-title="{{ gettext('You have finished collecting data for this tool') }}"></i>
                              {% elif responses == 0 or pending_responses > responses %}
                                <i class="icon-orange icon-warning-sign pull-right tooltips" data-placement='top' data-original-title="{{gettext('You need to collect more information') }}"></i>
                              {% endif %}
                              </div>
                            </td>
                        </tr>
                    {% endif %}

                  {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                  </table>
                </td>
                <td class="client-tool-table">
                    <table class="table table-striped">
                        {{ generate_client_rows(scores, client_tools, characteristic.id, score_property='aggregate_score', characteristic_id=characteristic.id) }}
                    <tr>
                        <td class="text-center">{{ total_scores|round_or_none }}</td>
                    </tr>
                    </table>
                </td>
                <td class="text-center relative-score">
                    {% if total_responses == 0 %}
                      -
                    {% else %}
                      {% set class_name = "icon-grey" %}
                      {% set tooltip_text = "Insufficient result" %}
                      {% if meets_threshold %}
                        {% if score_classification == 'great' %}
                          {% set class_name = "icon-green" %}
                          {% set tooltip_text = "Strong characteristic" %}
                        {% elif score_classification == 'good' %}
                          {% set class_name = "icon-orange" %}
                          {% set tooltip_text = "Characteristic to be improved" %}
                        {% else %}
                          {% set class_name = "icon-red" %}
                          {% set tooltip_text = "Challenge" %}
                        {% endif %}
                      {% endif %}
                      <i class="big icon-medkit {{ class_name }} tooltips" data-placement='top' data-original-title="{{ gettext(tooltip_text) }}"></i>
                      <span class="hidden-print">
                      {{ "%s"| format(percentage|int(0)) }}%
                      </span>
                    {% endif %}
                    {% if total_pending_responses <= 0 %}
                      <span class="label label-primary tooltips hidden-print" data-placement='top' data-original-title="{{gettext('You have finished data collection for this characteristic.') }}"> {{ gettext('Complete') }}</span>
                    {% endif %}
                    <div class="print-relative-score">
                      {% if total_responses == 0 %}
                      <div class="print-hyphen"> - </div>
                      {% else %}
                      <span>{{ "%s"| format(percentage|int(0)) }}%</span>
                        <span class="print-classification">
                        {% if meets_threshold %}
                          {% if score_classification == 'great' %}
                            {{ gettext('Strong characteristic')}}
                          {% elif score_classification == 'good' %}
                            {{ gettext('Characteristic to be improved')}}
                          {% elif score_classification == 'bad' %}
                            {{ gettext('Challenge') }}
                          {% endif %}
                        {% else %}
                          {{ gettext('Insufficient result') }}
                        {% endif %}
                        </span>
                      {% endif %}
                      {% if total_pending_responses <= 0 %}
                      <span class="label label-primary tooltips print-complete" data-placement='top' data-original-title="{{gettext('You have finished data collection for this characteristic.') }}"> {{ gettext('Complete') }}</span>
                      {% endif %}
                    </div>
                </td>
              </tr>
            </tbody>
        {% endfor %}
      </table>
      <div class="legend">
        <i class="icon-orange icon-warning-sign"> – {{ gettext('You need to collect more information')}}</i>
        <i class="icon-blue icon-ok"> – {{ gettext('You have finished collecting data for this tool')}}</i>
      </div>
  </div>
  {% if not loop.last %}
    <div class="page-break"></div>
  {% endif %}
{% endfor %}
{% endblock %}
