{% extends "base.jinja2" %}
{% block title %}Unassigned Clinics{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
       <div style="margin-right:30px;" class="row col-md-2">
           <input id="search_term" name="search_term" type="text" class="form-control" placeholder="Search clinics..."/>
      </div>
      <form method="post" action="{{ request.route_url('clinics', traverse=('assign')) }}">
        <div class="table-toolbar">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">
              Assign Selected to Myself <i class="icon-share-alt"></i>
            </button>
          </div>
        </div>
        <div class="clinics_table">
            {% include '_clinics_table.jinja2' %}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
{% block page_scripts %}
  <script src="{{ request.static_url('whoahqa:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  Custom.addCheckAllListener();
  Custom.filterClinicTable();
{% endblock %}