{% extends 'base.jinja2' %}
{% from 'macros/score_class.jinja2' import score_class %}
{% from 'macros/value_or_dash.jinja2' import value_or_dash %}
{% from 'macros/client_rows.jinja2' import generate_client_rows %}
{% block title %}{{ clinic.name }} {{ clinic.code }} {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-2">
      <div class="bg-info">Characteristics</div>
    </div>
    <div class="col-md-2 pull-right">
      <div class="bg-info">Relative Score</div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover scores-table">
      {% for characteristic in characteristics %}
        {% set percentage = scores[characteristic.id].totals.total_percentage %}
        <thead>
        <tr>
          <th class="char-defn"></th>
          <th class="char-no center-align">No.</th>
          <th class="char-desc">Description</th>
          <th class="char-cat">Category</th>
          <th class="char-resp"># Respondents</th>
          <th class="min-max">Min - Max</th>
          <th class="char-score">Score</th>
          <th class="char-rel-score"></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center-align ">
              
            </td>
            <td class="center-align char-no-vals">
              {{ loop.index }}
            </td>
            <td class="">{{ characteristic.description }}
            </td>
            <td class="client-tool-table">
              <table class="table table-striped">
                {{ generate_client_rows(scores, client_tools, characteristic.id, client_property='name', characteristic_id=characteristic.id)}}
                <tr>
                  <td class="abs-score text-right bold">Absolute total score</td>
                </tr>
              </table>
            </td>
            <td class="client-tool-table">
              <table class="table table-striped respondents">
                {{ generate_client_rows(scores, client_tools, characteristic.id, score_property='num_responses', characteristic_id=characteristic.id) }}
              </table>
            </td>
            <td class="client-tool-table">
              <table class="table table-striped">
                {{ generate_client_rows(scores, client_tools, characteristic.id, score_property='num_questions', output_prefix='0 - ', characteristic_id=characteristic.id) }}
                <tr>
                  <td class="text-center bold">
                    0 - {{ scores[characteristic.id].totals.total_questions }}
                  </td>
                </tr>
              </table>
            </td>
            <td class="client-tool-table">
              <table class="table table-striped">
                {{ generate_client_rows(scores, client_tools, characteristic.id, score_property='aggregate_score', characteristic_id=characteristic.id) }}
                <tr>
                  <td class="text-center">0</td>
                </tr>
              </table>
            </td>
            <td class="text-center">
              {{ "%s "| format(percentage|int(0)) }}%
            </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}