{% extends 'base.jinja2' %}
{% block title %}Users{% endblock %}
{% block page_title %}
  <h3>
     {{ self.title() }}
  </h3>
{% endblock %}
{% block breadcrumbs %}
    <li>
      <a href="{{ request.route_url('locations', traverse=()) }}"><iclass="fa fa-desktop"></i>  {{ gettext('Locations') }}
      </a>
    </li>
    <i class="icon-angle-right"></i>
    <li class="active"> {{ gettext('All Locations') }} </li>
</li>
{% endblock %}
{% block content %}
  <div class="table-toolbar">
    <div class="btn-group">
      <a class="btn btn-primary" href="{{ request.route_url('locations', traverse=('add')) }}">
        {{gettext('Add Location')}} <i class="icon-plus"></i>
      </a>
    </div>
  </div>
  <section class="container">
    {% include '_alerts.jinja2' %}
    <div class="row">
      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-title">
            <strong>{{ gettext('Current Locations') }}</strong>
          </div>
          <div class="portlet-body">
              <table class="table table-responsive table-hover">
                <thead>
                <tr>
                  <th>{{ gettext('Name') }}</th>
                  <th>{{ gettext('Location Type') }}</th>
                  <th>{{ gettext('Parent') }}</th>
                  <th>{{ gettext('Actions') }}</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                {% for location in locations|sort(true, attribute='id') %}
                  <tr>
                    <td>{{ location }}</td>
                    <td>{{ location.location_type|capitalize }}</td>
                    <td>{{ location.parent }}</td>
                    <td>
                      <a class="btn btn-default btn-xs" href="{{ request.route_path('locations', traverse=(location.id, 'edit')) }}">{{ gettext('Edit') }}</a>
                    
                      <a class="btn btn-danger btn-xs" href="{{ request.route_path('locations', traverse=(location.id, 'delete')) }}">{{ gettext('Delete') }}</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <!-- Portlet Body -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
{% endblock %}