{% extends "base.jinja2" %}
{% block title %}{{ gettext("User Settings") }}{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block breadcrumbs %}
{% if request.can_list_state %}
  <li class="">
    <i class="icon-home"></i>
    <a href="{{request.route_url('states', traverse=())}}">
        {{ gettext('States') }}
    </a>
  </li>
  <i class="icon-angle-right"></i>
{% endif %}
{% if request.can_view_state %}
  <li class="">
    <i class="icon-home"></i>
    <a href="{{request.route_url('states', traverse=())}}">
        {{ gettext('State') }}
    </a>
  </li>
  <i class="icon-angle-right"></i>
{% endif %}
{% if request.can_view_municipality and request.can_create_period %}
  {% if request.user %}
    <li class="">
      <i class="icon-home"></i>
      <a href="{{request.route_url('municipalities', traverse=(request.user.location.id))}}">
          {{ gettext('Municipality') }}
      </a>
    </li>
    <i class="icon-angle-right"></i>
  {% endif %}
{% endif %}
{% if request.user.group.name == 'clinic_manager' %}
    <li class="">
      <i class="icon-home"></i>
      <a href="{{request.route_url('clinics', traverse=(), _query={'period': period.id})}}">
          {{ gettext('Clinic') }}
      </a>
    </li>
    <i class="icon-angle-right"></i>
{% endif %}
{% endblock %}
{% block sub_menu_item %}
  {% if request.can_list_state %}
  <li class="">
    <a href="{{request.route_url('states', traverse=())}}">
        {{ gettext('States') }}
    </a>
  </li>
  {% endif %}
  {% if request.can_view_state %}
  <li class="">
    <a href="{{request.route_url('states', traverse=())}}">
        {{ gettext('State') }}
    </a>
  </li>
  {% endif %}
{% endblock %}
{% block content %}
    <div class="portlet ">
    {% include "_alerts.jinja2" %}
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-reorder"></i> {{ gettext('Change language') }}
          </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" method="post">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ gettext('Select language') }}</label>

                        <div class="col-md-4">
                          <select name="locale" class="selectpicker show-tick" id="locale">
                              {% for key, lang in available_languages.items() %}
                                <option value="{{ key }}"
                                    {% if user_settings and user_settings.language == key %}
                                        selected="selected"
                                    {% endif %}
                                    >{{lang}}</option>
                              {% endfor %}
                          </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-9" id="buttons">
                        <button type="submit" class="btn btn-primary" id="update" disabled>
                          {{ gettext("Update")}}
                        </button>
                        <a class="btn btn-default" href="{{ request.referrer }}" id="cancel">
                          {{ gettext("Cancel")}}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}

  var optionKey = $('#locale').find(":selected").val();

  var input = document.getElementById('locale');

  localStorage['locale'] = optionKey;

  if (localStorage['locale'] === optionKey) {
    $('#locale').one('change', function() {
       $('#update').prop('disabled', false);
    });
  }

  input.onchange = function() {
    var localeObj = {
      'en': {
        'updateText': "Update",
        'cancelText': "Cancel"
      },
      'pt': {
        'updateText': "Atualizar",
        'cancelText': "Cancelar"
      }
    }

    $("button#update").text(localeObj[input.value]['updateText'])
    $("a#cancel").text(localeObj[input.value]['cancelText'])

    $('#update').prop(
      'disabled',
      (localStorage['locale'] === input.value)? true : false
    );
  }
{% endblock %}
