{% extends "base.jinja2" %}
{% block title %}{{ gettext("Scores") }}{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}

{% block sub_menu_item %}
  {% if request.can_view_state %}
    <li class="selected">
      <a href="{{state.get_url(request, period)}}">
          {{ state.name|format_location_name }}
          {{ gettext(state.location_type|capitalize) }}
          <span class="arrow open"></span>
      </a>
    </li>
    {% for child in state.children() %}
      <li class="sub-location
        {%if child.id == municipality.id%}
          active
        {% endif %}
        ">
        <a href="{{child.get_url(request, period)}}">
            {{ child.name|format_location_name }}
            {{ gettext(child.location_type|capitalize) }}
        </a>
      </li>
    {% endfor %}
  {% else %}
    <li class="selected">
      <a href="{{municipality.get_url(request, period)}}">
          {{ municipality.name|format_location_name }}
          {{ gettext(municipality.location_type|capitalize) }}
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
{% if request.can_list_state %}
<li><a href="{{request.route_url('states', traverse=())}}">{{ gettext('States') }}</a></li>
<li><a href="#"> </a></li>
<i class="icon-angle-right"></i>
{% endif %}
  {% if request.can_view_state or request.can_list_state %}
    <li>
      <a href="{{ state.get_url(request, period) }}">
        {{ state.name|format_location_name }}
        {{ gettext(state.location_type|capitalize) }}
      </a>
      <i class="icon-angle-right"></i>
    </li>
  {% endif %}
  {% if request.can_view_state or request.can_list_state %}
    <li>
        {{ municipality.name|format_location_name }}
        {{ gettext(municipality.location_type|capitalize) }}
    </li>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row">
    <!--
    <div style="margin-left:0px; margin-bottom:5px;" class="row">
        <div class="col-md-2 form-group">
           <input id="search_term" name="search_term" type="text" class="form-control" placeholder="Search clinics..."/>
        </div>
    </div>
    -->
    <div class="col-md-12">
      {% block clinic_table %}
        <form method="post" action="">
            <div class="clinics_table">
              {% include '_summary_scores_table.jinja2' %}
            </div>
        </form>
      {% endblock %}
    </div>
  </div>
{% endblock content %}
{% block page_scripts %}
  <script src="{{ request.static_url('whoahqa:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  Custom.filterClinicTable();
{% endblock %}
