{% extends "base.jinja2" %}
{% block title %} {{ gettext("State")}} {{ gettext("Scores") }}{% endblock %}
{% block page_title %} {{ state.name|format_location_name }} {{ gettext(state.location_type|capitalize) }} {% endblock %}

{% block sub_menu_item %}
  <li class="selected">
    <span class="icon-plus-sign state" id="menu-icon"></span>
    <a href="{{state.get_url(request, period)}}">
        {{ state.name|format_location_name }}
        {{ gettext(state.location_type|capitalize) }}
    </a>
    <input type="checkbox" name ="group-1" id="chkbx" style="top: 0px;
    left: 24px;">
  <ul class="sub-location temp" id="municipality-list">
  {% for municipality in state.children() %}
  <li style="margin: 0 auto;
    padding: 5px;
    margin-top: 1px !important; white-space: nowrap;" class="sub-state">
    <input type="checkbox" name ="group-2" id="chkbx" style="top: -5px;
    left: 1px;">
        <a href="{{municipality.get_url(request, period)}}" style="color: #def1fd;
    margin: 0px 0px 0px 13px; font-weight: 300;
    font-size: 14px; display: block;">
            {{ municipality.name|format_location_name }}
            {{ gettext(municipality.location_type|capitalize) }}
        </a>
        <span class="icon-plus-sign locations-list" id="menu-icon" style="margin: -17px -27px 1px 1px"></span>
      <ul class="sub-location temp" id="municipality-list" style="list-style: none;">
      {% for clinic in municipality.children() %}
      <li style="margin: 0 auto; padding: 5px; margin-top: 1px !important; position: relative; border-top: 0.4px solid #6f6f6f;background: #0b679e;">
          <a href="{{clinic.get_url(request, period)}}" style="color: #def1fd;margin: 0px 0px 1px 17px; font-weight: 300; font-size: 14px; display: block; white-space: initial; width: 80%;">
              {{ clinic.name|format_location_name }}
          </a>
      </li>
      {% endfor %}
    </ul>
    </li>
  {% endfor %}
  </ul>
  </li>
{% endblock %}

{% block breadcrumbs %}
{% if request.can_list_state %}
<li><a href="{{request.route_url('states', traverse=())}}">{{ gettext('States') }}</a></li>
<li>
<a href="#"> </a>
<i class="icon-angle-right"></i>
</li>
<li>
  {{ state.name|format_location_name }}
  {{ gettext(state.location_type|capitalize) }}
</li>
{% endif %}
{% if request.is_super_user %}
<li>
<i class="icon-angle-right"></i>
    {{ state.name|format_location_name }}
    {{ gettext(state.location_type|capitalize) }}
</li>
{% endif %}
{% endblock %}
{% block content %}
  <div class="row">
    <!--
    <div style="margin-left:0px; margin-bottom:5px;" class="row">
        <div class="col-md-2 form-group">
           <input id="search_term" name="search_term" type="text" class="form-control" placeholder="Search clinics..."/>
        </div>
    </div>
    -->
    <div class="col-md-12">
      {% block clinic_table %}
        <form method="post" action="">
            <div class="clinics_table">
              {% include '_summary_scores_table.jinja2' %}
            </div>
        </form>
      {% endblock %}
    </div>
  </div>
{% endblock content %}
{% block page_scripts %}
  <script src="{{ request.static_url('whoahqa:static/scripts/custom.js') }}"></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  Custom.filterClinicTable();
{% endblock %}
