{% extends "base.jinja2" %}
{% block title %}{{ gettext("States") }}{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block breadcrumbs %}
  <li>{{ self.page_title() }}</li>
  <li><a href="#"> </a></li>
{% endblock %}
{% block sub_menu_item %}
  <li>
    <a href="{{request.route_url('states', traverse=())}}">
        {{ gettext('States') }}
    </a>
  </li>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% block location_table %}
        <form method="post" action="">
            <div class="location_table">
              {% include '_summary_scores_table.jinja2' %}
            </div>
        </form>
      {% endblock %}
    </div>
  </div>
{% endblock content %}
