{% extends "base.jinja2" %}
{% block title %}{{ gettext("States") }}{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block sub_menu_item %}
  <li class="selected" data-toggle="collapse" data-target="#states-list">
    <a href="{{request.route_url('states', traverse=())}}" style="pointer-events: none; cursor: default;">
        {{ gettext('States') }}
        <span class="arrow open"></span>
    </a>
  </li>
  {%if request.can_list_state %}
  <li class="sub-location collapse" id="states-list">
    {% for location in locations %}
      <a href="{{location.get_url(request, period)}}">
          {{ location.name|format_location_name }}
          {{ gettext(location.location_type|capitalize) }}
      </a>
    {% endfor %}
    </li>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% block location_table %}
        <form method="post" action="">
            <div class="location_table">
              {% include '_summary_scores_table.jinja2' %}
            </div>
        </form>
      {% endblock %}
    </div>
  </div>
{% endblock content %}
