{% extends "base.jinja2" %}
{% block title %}My Clinics{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block breadcrumbs %}
  <li>My Clinics</li>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="icon-user-md"></i> My Clinics
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a id="sample_editable_1_new" class="btn btn-primary" href="{{ request.route_url('clinics',  traverse=('register')) }}">
                        {{ gettext('Register a Clinic') }}<i class="icon-plus"></i>
                    </a>
                </div>
            </div>
            {% for clinic in clinics %}
                <div class="btn-group clinic-button">
                  <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="text-left" id="clinic-name">{{ clinic.name }}</span>
                    <span class="text-right" id="clinic-code">{{ gettext('Code:') }} {{ clinic.code }}</span>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ request.route_url('clinics', traverse=(clinic.id, 'characteristics')) }}">Select Characteristics </a></li>
                    <li><a href="{{ request.route_url('clinics', traverse=(clinic.id)) }}">View Report</a></li>
                  </ul>
                </div>
            {% endfor %}
            <div id="assign-new">
                <a href="{{ request.route_url('clinics', traverse=('unassigned')) }}">
                    <span class="glyphicon glyphicon-home"></span> 
                    {{ gettext('Assign a new clinic to myself') }}
                </a>
            </div>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="icon-plus-sign-alt"></i> {{ gettext('Score Summary') }}
            </h3>
        </div>
        <div class="panel-body">
            {% include '_clinics_score_summary_comparison.jinja2' %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
        {% block page_scripts %}
  <script src="{{ request.static_url('whoahqa:static/scripts/custom.js') }}"></script>
  <script src="{{ request.static_url('whoahqa:static/plugins/data-tables/jquery.dataTables.js') }}" type="text/javascript" ></script>
  <script src="{{ request.static_url('whoahqa:static/plugins/data-tables/FixedColumns.js') }}" type="text/javascript" ></script>
{% endblock %}
{% block jquery_ready %}
  {{ super() }}
  Custom.enableDatatables();
{% endblock %}
