{% extends "base.jinja2" %}
{% block title %}My Clinics{% endblock %}
{% block page_title %} {{ self.title() }} {% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="big icon-user-md"></i> My Clinics
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a id="sample_editable_1_new" class="btn btn-primary" href="{{ request.route_url('clinics',  traverse=('register')) }}">
                        Register a Clinic <i class="icon-plus"></i>
                    </a>
                </div>
            </div>
            {% for clinic in clinics %}
                <a href="{{ request.route_url('clinics', traverse=(clinic.id)) }}" class="btn btn-primary btn-lg">{{ clinic.name }} &nbsp;&nbsp; Code: {{ clinic.code }}</a>
            {% endfor %}
            <br>
            <br>
            <a href="{{ request.route_url('clinics', traverse=('unassigned')) }}"><span class="glyphicon glyphicon-home"></span> <b>Assign a new clinic to myself</b></a>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-globe"></span> Score Summary
            </h3>
        </div>
        <div class="panel-body">
            {% include '_clinics_score_summary.jinja2' %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}