{% extends "templates/base.jinja2" %}
{% block title %}My Clinics{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="portlet box light-grey">
        <div class="portlet-title">
          <div class="caption"><i class="icon-globe"></i>{{ self.title() }}</div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="btn-group">
              <button id="sample_editable_1_new" class="btn btn-success">
                Add New <i class="icon-plus"></i>
              </button>
            </div>
          </div>
          <div id="sample_1_wrapper" class="dataTables_wrapper form-inline"
               role="grid">
            <div class="table-scrollable">
              <table
                  class="table table-striped table-bordered table-hover"
                  id="sample_1" aria-describedby="sample_1_info">
                <thead>
                <tr role="row">
                  <th class="table-checkbox sorting_disabled"
                      role="columnheader" rowspan="1" colspan="1" aria-label=""
                      style="width: 20px;">
                    <div class="checker"><span><input type="checkbox"
                                                      class="group-checkable"
                                                      data-set="#sample_1 .checkboxes"></span>
                    </div>
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0"
                      aria-controls="sample_1" rowspan="1" colspan="1"
                      aria-label="Username: activate to sort column ascending"
                      style="width: 191px;">Name
                  </th>
                  <th class="sorting" role="columnheader" tabindex="0"
                      aria-controls="sample_1" rowspan="1" colspan="1"
                      aria-label="Points: activate to sort column ascending"
                      style="width: 136px;">Submissions
                  </th>
                  <th class="sorting_disabled" role="columnheader" rowspan="1"
                      colspan="1" aria-label="Joined" style="width: 186px;">
                    Created
                  </th>
                  <th class="sorting_disabled" role="columnheader" rowspan="1"
                      colspan="1" aria-label="&amp;nbsp;"
                      style="width: 186px;">&nbsp;</th>
                </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                {% for clinic in clinics %}
                <tr class="gradeX odd">
                  <td class=" sorting_1">
                    <div class="checker"><span><input type="checkbox"
                                                      class="checkboxes"
                                                      value="1"></span></div>
                  </td>
                  <td class=" "><a href="{{ request.route_url('clinics', traverse=(clinic.id)) }}">{{ clinic.name }}</a></td>
                  </td>
                  <td class=" ">120</td>
                  <td class="center ">12 Jan 2014</td>
                  <td class=" "><span class="label label-sm label-success">Approved</span>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <div class="dataTables_info" id="sample_1_info">Showing 1 to 5
                  of 25 entries
                </div>
              </div>
              <div class="col-md-7 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap">
                  <ul class="pagination">
                    <li class="prev disabled"><a href="#" title="Prev"><i
                        class="icon-angle-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="next"><a href="#" title="Next"><i
                        class="icon-angle-right"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}