/* here you can put your own css to customize and override the theme */
.center-align {
    text-align: center;
}

.middle-align {
    vertical-align: middle !important;
}

.right-align {
    text-align: right;
}

.char-header, .score-header {
    font-size: 18px;
    color: #1175cb;
    width: 16%;
    padding-left: 10px;

    background: #b3c1ea; /* Old browsers */
    background: -moz-linear-gradient(left, #b3c1ea 0%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b3c1ea), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #b3c1ea 0%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #b3c1ea 0%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #b3c1ea 0%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to right, #b3c1ea 0%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c1ea', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.char-header {
    margin-left: 15px;
}
.score-header {
    margin-right: 15px;
}

.scores-table thead > tr > th, .scores-table > tbody > tr > td {
    border: 2px solid #b3c1ea;
}

#header-top{
	color:#333333!important;
	height:0!important;
	min-height:40px!important;
}
.header.navbar{
	background:#EFEFEF;
	border-bottom:1px solid #D7D7D7;
}
.glyphicon .glyphicon-user{
	color:#999999;
}
#header-top .navbar-brand{
	color:#333333;
	font-size:1.12em;
	padding:.6em 0 0 1.7em;
	width:60%;
}
#header-top .dropdown-toggle{
	padding-top:0.8em;
	padding-bottom:0.7em;
}

.underline{ text-decoration:underline; }

.page-container{
	padding-top:3em!important;
}
.page-sidebar{
	padding-top:4.85em!important;
}

/*
*Scores summary clinic table
*/
.score-summary-table2 {
    margin-left:52px;
    width:550px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left:0px;
}

.score-summary-table2 .table{
    table-layout:fixed;
    border-left: none;
}

.score-summary-table2 .table > tbody > tr > td{
    border: none;
}

.ssdata{
    height:70px;
}

.score-summary-table1 .table .score_summary_header_2,
.score-summary-table2 .table .score_summary_header_2
{
    background-color:#1175cb;
    color:#ffffff;
}

.score-summary-table1 .table .score_summary_header_1,
.score-summary-table2 .table .score_summary_header_1
{
    font-size: 18px;
    color: #1175cb;
    width: 16%;
    padding-left: 10px;
    background: #cde3f4; /* Old browsers */
    background: -moz-linear-gradient(left, #cde3f4 0%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cde3f4), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to right, #cde3f4 0%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c1ea', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}
.score-summary-table2 .score_summary_header_2 > th{
    border:none;
}

.score-summary-table1 .table > tbody > tr > td{
    border:none;
}

.score-summary-table1 .table > tbody > tr > td,
.score-summary-table1 .table > thead > tr > th
{
    border-right:2px solid #cde3f4;
}

.score-summary-table2 .container{
    padding-left:2px;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.clinic-button{
    margin-top:10px;
    margin-right:5px;
}

/*
*Score indicators on score summary table
*/
.indicator{
    border-radius: 50%;
    width:12px;height:12px;
    margin-top:5px;
    margin-right:5px;
    border:2px solid;
}
.danger{
   background-color: #e49b9f;/*fill color*/
   border-color: #dd3850;/*stroke color*/
}
.warning{
   background-color: #fbd6ab;/*fill color*/
   border-color: #ffa735;/*stroke color*/
}
.success{
   background-color: #aad8b9;/*fill color*/
   border-color: #20a25c;/*stroke color*/
}

.scores-table .client-tool-table {
    padding: 0px;
}

.scores-table thead {
    background-color:#1175cb;
    color: #fff
}

.scores-table thead > tr > th.char-defn {
    width: 16%;
}
.scores-table thead > tr > th.char-no {
    width: 5%;
}
.scores-table thead > tr > th.char-desc {
    width: 16%;
}
.scores-table thead > tr > th.char-cat {
    width: 16%;
}
.scores-table thead > tr > th.min-max {
    width: 9%;
}
.scores-table thead > tr > th.char-resp {
    width: 16%;
}
.scores-table thead > tr > th.char-score {
    width: 5%;
}
.scores-table thead > tr > th.char-rel-score {
    width: 16%;
}

.scores-table tbody tr td {
    background-color: #fff;
}

.scores-table tbody tr td h2 {
    font-size: 24px;
    margin-top: 10px;
}

.scores-table tbody tr td.char-no-vals {
    color:#1175cb;
    font-weight: bold;
}

.scores-table .client-tool-table {
    padding: 0px;
}

.scores-table .client-tool-table > table {
    margin-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.scores-table .table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff;
}

.scores-table .table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #eceff8;
}

.scores-table .table-striped > tbody > tr:last-child > td {
    background-color: #fff;
}

td.client-tool-table > table > tbody > tr:first-child > td {
    border-top: 0px;
}

td.client-tool-table > table.respondents > tbody > tr:last-child > td {
    border-bottom: 1px solid #ddd;
}

td.client-tool-table > table.respondents > tbody > tr > td > i.icon-blue {
    color: #1175cb;
}

td.client-tool-table > table.respondents > tbody > tr > td > i.icon-blue.icon-plus-sign {
    color: #1175cb;
}

td.client-tool-table > table.respondents > tbody > tr > td > i.icon-grey {
    color: #ccc;
}

td.relative-score {
    font-size: 16px;
}

td.relative-score i.icon-medkit {
    margin-right: 5px;
    color: #FFDC00;
}
