/* here you can put your own css to customize and override the theme */
.center-align {
    text-align: center;
}

.middle-align {
    vertical-align: middle !important;
}

.right-align {
    text-align: right;
}

.scores-table thead > tr > th, .scores-table > tbody > tr:nth-child(1n+0) {
    border-bottom: 3px solid #ddd;
}

.score_summary_header_2{
    background-color:#1175cb;
    color:#ffffff;
}

.scores-table .client-tool-table {
    padding: 0px;
}

.scores-table .client-tool-table > table {
    margin-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.scores-table thead > tr > th.char-defn {
    width: 16%;
}
.scores-table thead > tr > th.char-no {
    width: 5%;
}
.scores-table thead > tr > th.char-desc {
    width: 16%;
}
.scores-table thead > tr > th.char-cat {
    width: 16%;
}
.scores-table thead > tr > th.min-max {
    width: 9%;
}
.scores-table thead > tr > th.char-resp {
    width: 16%;
}
.scores-table thead > tr > th.char-score {
    width: 5%;
}
.scores-table thead > tr > th.char-rel-score {
    width: 16%;
}


td.client-tool-table > table > tbody > tr:first-child > td {
    border-top: 0px;
}

td.client-tool-table > table.respondents > tbody > tr:last-child > td {
    border-bottom: 1px solid #ddd;
}
