/* here you can put your own css to customize and override the theme */
.center-align {
    text-align: center;
}

.middle-align {
    vertical-align: middle !important;
}

.right-align {
    text-align: right;
}

#assign-new {
    margin-top: 1em;
}

#clinic-name {
    margin-right: 3em;
}

#clinic-code {
    opacity: 0.7;
}

#sample-frame-portlet {
    border: none;
}

#sample-frame-portlet .portlet-title {
    padding-bottom: 0px;
    font-size: 18px;
    color: #1175cb;
    background: #cde3f4; /* Old browsers */
    background: -moz-linear-gradient(left, #cde3f4 0%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cde3f4), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to right, #cde3f4 0%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c1ea', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

#sample-frame-portlet > #sample-frame-table {
    margin-bottom: 0px;
    background-color: #fff;
}

#sample-frame-table > thead > tr > th,
#sample-frame-table > tbody > tr > td {
    border-left:1px solid #cde3f4;
    border-right:1px solid #cde3f4;
    border-bottom:1px solid #cde3f4;
}

#sample-frame-portlet .portlet-body {
    padding: 0px;
}

#sample-frame-portlet #sample-frame-table > thead > tr {
    background-color:#1175cb;
    color: #fff;
}

.char-header, .score-header, .table-header {
    font-size: 18px;
    color: #1175cb;
    padding-left: 10px;
    background: #cde3f4; /* Old browsers */
    background: -moz-linear-gradient(left, #cde3f4 0%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cde3f4), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to right, #cde3f4 0%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c1ea', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.table-header {
    margin-left: 15px;
}
.char-header {
    border: 1px solid #fafafa !important;
    margin-left: 15px;
    padding: 1px 1px 1px 6px !important;
    width: 15%;
}

.transparent-cell {
    background-color: #FaFaFa !important;
    border-top: 1px solid #fafafa !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

table.borderless {
    display: none;
}

.key-indicator-section {
    margin-top: 15px;
}

h3.key-indicator-title {
    margin-left: 15px;
    color: #1175cb;
    font-weight: bold !important;
    font-size: 22px !important;
    padding-bottom: 5px;
}

.score-header {
    margin-right: 15px;
    width: 20%;
}

.scores-table thead > tr > th, .scores-table > tbody > tr > td {
    border: 2px solid #cde3f4;
}

#header-top{
    background: #0e3145;
    color:#333333!important;
    height:0!important;
    min-height:40px!important;
}

.header.navbar{
	background:#EFEFEF;
}
.glyphicon .glyphicon-user{
	color:#999999;
}
#header-top .navbar-brand{
	color: #f0f0f0;
	font-size:1.12em;
	padding:.6em 0 0 1.7em;
	width:60%;
}
#header-top .dropdown-toggle{
    color: #e5e5e5;
	padding-top:0.8em;
	padding-bottom:0.7em;
}

hr,br {
    display: none;
}

.underline{ text-decoration:underline; }

.page-container{
	padding-top:3em!important;
}
.page-sidebar{
	padding-top:4.85em!important;
}

/*
*Scores summary clinic table
*/
.score-summary-table .table > tbody > tr > td{
    border: none;
}

.score-summary-table .score_summary_header_2 > th{
    border:none;
}

.score-summary-table .table{
    margin-bottom:-0px;
}

.ssdata{
    height:70px;
}

.score-summary-table .table .score_summary_header_2
{
    background-color:#1175cb;
    color:#ffffff;
}

.score-summary-table .table .score_summary_header_1
{
    font-size: 18px;
    color: #1175cb;
    width: 16%;
    padding-left: 10px;
    background: #cde3f4; /* Old browsers */
    background: -moz-linear-gradient(left, #cde3f4 0%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cde3f4), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #cde3f4 0%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to right, #cde3f4 0%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3c1ea', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.score-summary-table .table > tbody > tr > td{
    border:none;
}

.score-summary-table .table > tbody > tr > td,
.score-summary-table .table > thead > tr > th
{
    border-right:2px solid #cde3f4;
}

.td-scores{
    padding-top: 20px;
    padding-left: 20px;
    width:94px;
}

.clinic-button{
    margin-top:10px;
    margin-right:5px;
}

/*
*Score indicators on score summary table
*/
.indicator{
    border-radius: 50%;
    width:12px;height:12px;
    margin-top:5px;
    margin-right:5px;
    border:2px solid;
}
.danger{
   background-color: #e49b9f;/*fill color*/
   border-color: #dd3850;/*stroke color*/
}
.warning{
   background-color: #fbd6ab;/*fill color*/
   border-color: #ffa735;/*stroke color*/
}
.success{
   background-color: #aad8b9;/*fill color*/
   border-color: #20a25c;/*stroke color*/
}

.scores-table .client-tool-table {
    padding: 0px;
}

.scores-table thead {
    background-color:#1175cb;
    color: #fff
}

.scores-table thead > tr > th.char-sel {
    width: 2%;
}
.scores-table thead > tr > th.char-defn {
    width: 16%;
}
.scores-table thead > tr > th.char-no {
    width: 5%;
}
.scores-table thead > tr > th.char-desc {
    width: 12%;
}
.scores-table thead > tr > th.char-cat {
    width: 16%;
}
.scores-table thead > tr > th.min-max {
    width: 7%;
}

.scores-table thead > tr > th.min-max div {
    display: block;
    width: 80px;
    margin: 0 auto;
    text-align: center;
}

.scores-table thead > tr > th.char-resp {
    width: 17%;
}
.scores-table thead > tr > th.char-score {
    width: 5%;
}
.scores-table thead > tr > th.char-rel-score {
    width: 16%;
}

.scores-table tbody tr td {
    background-color: #fff;
}

.scores-table tbody tr td h2 {
    font-size: 24px;
    margin-top: 10px;
}

.scores-table tbody tr td.char-no-vals {
    color:#1175cb;
    font-weight: bold;
}

.scores-table .client-tool-table {
    padding: 0px;
}

.scores-table .client-tool-table > table {
    margin-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.scores-table-horizontal thead > tr > th {
    border: 2px solid #cde3f4;
}
.scores-table-horizontal > tbody > tr > td {
    border-top: 0px;
    border-bottom: 0px;
}
.scores-table-horizontal > tbody > tr:last-child {
    border-bottom: 2px solid #cde3f4;
}

.scores-table .table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff;
}

#sample-frame-table > tbody > tr:nth-child(even) > td,
.scores-table .table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #eceff8;
}

.scores-table .table-striped > tbody > tr:last-child > td {
    background-color: #fff;
}

.scores-table-responsive {
    margin-top: -25px;
}

td.client-tool-table > table > tbody > tr:first-child > td {
    border-top: 0px;
}

td.client-tool-table > table.respondents > tbody > tr > td > i.icon-blue {
    color: #1175cb;
}

td.client-tool-table > table.respondents > tbody > tr > td > i.icon-blue.icon-plus-sign {
    color: #1175cb;
}

.respondents-row {
    min-width: 120px;
    white-space: normal;
}

i.icon-white {
    color: #fff;
}

i.icon-grey {
    color: #ccc;
}

i.icon-red {
    color: #e94b30;
}

i.icon-orange {
    color: #fab132;
}

i.icon-green {
    color: #46bf55;
}

i.icon-blue {
    color: #1175cb;
}

.btn.disabled {
    pointer-events: auto;
}

td.relative-score {
    font-size: 16px;
}

td.relative-score i.icon-medkit {
    margin-right: 5px;
}

i.launch-form {
    font-size: 2em;
}

.dropdown-menu li > a {
    padding-right: 10px;
}

table tbody > tr > td.enclosed-table {
    padding: 0px;
}

td.enclosed-table table tr:first-child td {
    border-top: none;
}

.table_header {
    background-color:#1175cb;
    color:#ffffff;
}

.table_left_bordered {
    border-left: 2px solid #cde3f4;
}

.table_bottom_bordered {
    border-bottom: 2px solid #cde3f4;
}

.navbar-nav > li > a.logout {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-nav > li > a.logout:hover {
    background: #1175cb;
}

.pull-right>.dropdown-menu {
    right: inherit;
    left: 0 !important;
}

/* scores bars  */
.score-bar, .elapsed, .score-msg{
    height:1.5em;
}
.score-bar{
    position:relative;
}
.elapsed {
    background-color:#1175cb;
    float: left;
    max-width: 75%;
}

tr.average-row {
    color: #979695;
}

.scores-table tbody tr.average-row td {
    background-color: #eff0f1;
}

.legend {
    display: none;
}

tr.average-row span.score-msg {
    color: #979695;
}

.elapsed.average {
    background-color: #959493;
}

.score-msg {
    padding-left: 5px;
    float: left;
    color: #1175cb;
}

#assessment-portlet > .portlet-title {
    height: auto;
}

.scores-table-horizontal .clinic-name {
    width: 40%;
}

.scores-table-horizontal .key-indicators {
    width: 12%
}

.print-scores {
    display: none;
}

.print-relative-score {
    display: none;
}

ul.page-sidebar-menu > li.active > ul.sub-menu > li.selected {
    background: #084e78 !important;
}

ul.page-sidebar-menu > li.active > ul.sub-menu > li.selected > a,
ul.page-sidebar-menu > li.active > ul.sub-menu > li.selected > a i {
    color: #fff;
}

.page-sidebar-menu > li > ul.sub-menu > li.sub-location {
    margin-left: 10px;
}

.page-sidebar-menu > li > ul.sub-menu > li.sub-sub-location {
    margin-left: 20px;
}

span.client-prop {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    overflow: hidden;
    display: block;
}

li.external-resource a {
    font-size: 12px !important;
}

input[name=password-confirm] {
  margin-top: 15px;
}

.print-row {
  padding-right: 20px;
  padding-left: 15px;
}

.for-print {
	display: none;
}
