/***
Import fonts
***/

.header, .btn {
	display: none;
}

.page-sidebar, .page-bar {
	display: none;
}

.theme-panel {
	display: none;
}

.hidden-print {
	display: none;
}

.footer {
	display: none;
}

.for-print {
	display: block;
}

.no-page-break {
	page-break-after: avoid;
}

.page-break	{
	display: block;
	page-break-before: always;
}

.page-container {
	margin: 0px;
	padding: 0px;
}

.page-content {
	margin: 0px;
	min-height: auto !important;
	padding: 0px;
}

.print-row {
	display: none;
}

.table-responsive {
	border: none !important;
	zoom: 1;
}

.char-header {
	font-size: 12px !important;
	font-weight: 600;
	margin-bottom: 5px;
	padding-left: 0px;
}

thead {
	display: none;
}

thead:first-child {
	display: table-header-group;
}

table.scores-table {
	table-layout: fixed;
	font-size: 10px !important;
}

.scores-table thead > tr > th {
	font-size: 10px !important;
	font-weight: bold;
}

.scores-table .client-tool-table > table tr td {
    border-left: none !important;
		border-right: none !important;
		border-bottom: none !important;
		zoom: 1;
}

.scores-table .client-tool-table > table tr:first-child td {
	border-top: none !important;
}

p {
	white-space: pre-wrap;
	width: 100px;
	word-wrap: break-word;
}
