{% macro alert_message(message, type) %}
  <div class="alert alert-{{ type }}">
    <button class="close" data-dismiss="alert"></button>
    <span>{{ gettext(message) }}</span>
  </div>
{% endmacro %}
