{% macro generate_client_rows(scores, client_tools, characteristic_id)%}
  {% for client_tool in client_tools %}
    {% set score = scores[characteristic_id] %}
    {% if score[client_tool.id] is defined %}
        <tr>
          {% if kwargs['score_property'] %}
            <td class="center-align">
                {% if kwargs['score_property'] == 'aggregate_score' %}
                  {{ kwargs['output_prefix'] }}{{ score[client_tool.id][kwargs['score_property']]|round_or_none }}
                {% else %}
                  {{ kwargs['output_prefix'] }}{{ score[client_tool.id][kwargs['score_property']] }}
                {% endif %}
            </td>
          {% elif kwargs['client_property'] %}
            <td>
              <span class="client-prop">{{ gettext(client_tool[kwargs['client_property']]) }}</span>
            </td>
          {% else %}
            <td>{{ kwargs['default_value'] }}</td>
          {% endif %}
        </tr>
    {% endif %}
  {% endfor %}
{% endmacro %}